<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
</head>
    <body>
        <h1>Movie Recommendation</h1>
        <form method="POST" action="{{url_for('movies')}}">
            <select name="genre" id ="genre" class="custom-select" multiple>
                <option value="28">Action</option>
                <option value="12">Adventure</option>
                <option value="16">Animation</option>
                <option value="35">Comedy</option>
                <option value="80">Crime</option>
                <option value="99">Documentary</option>
                <option value="18">Drama</option>
                <option value="10751">Family</option>
                <option value="14">Fantasy</option>
                <option value="36">History</option>
                <option value="27">Horror</option>
                <option value="10402">Music</option>
                <option value="9648">Mystery</option>
                <option value="10749">Romance</option>
                <option value="878">Science Fiction</option>
                <option value="10770">TV Movie</option>
                <option value="53">Thriller</option>
                <option value="10752">War</option>
                <option value="37">Western</option>
            </select>
        </form>
        <script src="../static/js/main.js"></script>
        <form method="POST" action="{{url_for('movies')}}">
            <label for="numofmovies">How many movies would you like recommended?</label>
            <input type="number" id="numofmovies" name="numofmovies" required>
            <input type="submit" value="Submit">
        </form>
        <p>This website utilizes <a href="https://developers.themoviedb.org/3/getting-started/introduction">The Movie Database API</a></p>
    </body>
</html>